---json
{
  "layout": "",
  "permalink": "index.json",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "rwblickhan.org",
    "subtitle": "",
    "language": "en",
    "url": "https://rwblickhan.org/",
    "author": {
      "name": "R.W. Blickhan",
      "url": "https://rwblickhan.org/"
    }
  }
}
---
[
{%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
{%- for post in collections.fiction %}
  {
    "path": "{{post.inputPath}}",
    "url": "{{absolutePostUrl}}",
    "title": "{{post.data.title | safe}}",
    "content": {% if post.templateContent %}{{ post.templateContent | dump | safe  }}{% else %}""{% endif %}
  }{% if not loop.last %},{% endif %}
{%- endfor %}
{%- for post in collections.nonfiction %}
  {
    "path": "{{post.inputPath}}",
    "url": "{{absolutePostUrl}}",
    "title": "{{post.data.title | safe}}",
    "content": {% if post.templateContent %}{{ post.templateContent | dump | safe  }}{% else %}""{% endif %}
  }{% if not loop.last %},{% endif %}
{%- endfor %}
{%- for post in collections.logs %}
  {
    "path": "{{post.inputPath}}",
    "url": "{{absolutePostUrl}}",
    "title": "{{post.data.title | safe}}",
    "content": {% if post.templateContent %}{{ post.templateContent | dump | safe  }}{% else %}""{% endif %}
  }{% if not loop.last %},{% endif %}
{%- endfor %}
{%- for post in collections.misc %}
  {
    "path": "{{post.inputPath}}",
    "url": "{{absolutePostUrl}}",
    "title": "{{post.data.title | safe}}",
    "content": {% if post.templateContent %}{{ post.templateContent | dump | safe  }}{% else %}""{% endif %}
  }{% if not loop.last %},{% endif %}
{%- endfor %}
{%- for post in collections.recipe %}
  {
    "path": "{{post.inputPath}}",
    "url": "{{absolutePostUrl}}",
    "title": "{{post.data.title | safe}}",
    "content": {% if post.templateContent %}{{ post.templateContent | dump | safe  }}{% else %}""{% endif %}
  }{% if not loop.last %},{% endif %}
{%- endfor %}
]
