---
title: "Logs"
---

<div class="flex items-start justify-evenly">
    <div class="flex flex-col gap-4">
        <h2>Books</h2>
        {% for book in collections.book reversed %}
        <a href="{{ book.url }}" class="border-2 rounded-lg border-rwb-link-light dark:border-rwb-link-dark prose-headings:text-rwb-link-light dark:prose-headings:text-rwb-link-dark">
            <div class="flex flex-col items-baseline justify-between p-4">
                <h2>{{ book.data.title }}</h2>
                <p>{{ book.data.snippet }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="flex flex-col gap-4">
        <h2>Films</h2>
        {% for film in collections.film reversed %}
        <a href="{{ film.url }}" class="border-2 rounded-lg border-rwb-link-light dark:border-rwb-link-dark prose-headings:text-rwb-link-light dark:prose-headings:text-rwb-link-dark">
            <div class="flex flex-col items-baseline justify-between p-4">
                <h2>{{ film.data.title }}</h2>
                <p>{{ film.data.snippet }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>


