<header>
    <div class="flex flex-col absolute md:fixed top-0 inset-x-0">
        <input id="menu-toggle" class="peer hidden" type="checkbox" />
        <div
            class="px-4 lg:px-12 bg-black h-24 w-full flex items-center justify-between"
        >
            <a
                class="text-white dark:text-rwb-text-dark text-4xl no-underline hover:underline"
                href="/index.html"
                >rwblickhan.org</a
            >
            <label
                class="flex flex-col h-7 justify-between cursor-pointer"
                for="menu-toggle"
            >
                {% for i in (0..2) %}
                <div
                    class="h-1 w-8 bg-white dark:bg-rwb-text-dark rounded"
                ></div>
                {% endfor %}
            </label>
        </div>
        {% for section in sections %}
        <div
            class="pl-4 lg:pl-12 pr-4 lg:pr-10 bg-black h-16 flex items-center justify-between hidden peer-checked:block"
        >
            <a
                class="text-white dark:text-rwb-text-dark text-2xl no-underline hover:underline"
                href="/{{ section.slug }}"
                >{{ section.name }}</a
            >
        </div>
        {% endfor %}
        <div
            class="pl-4 lg:pl-12 pr-4 lg:pr-10 bg-black h-16 flex items-center justify-between hidden peer-checked:block"
        >
            <div class="stork-wrapper">
    	      <input data-stork="index" class="stork-input" />
    	      <div data-stork="index-output" class="stork-output"></div>
    	    </div>
	      
    	    <script>stork.register("index", "index.st")</script>
    	  </body>
        </div>
    </div>
</header>
