<head>
    <meta charset="UTF-8" />
    <meta name="og:site_name" content="rwblickhan.org" />
    <link rel="canonical" href="https://rwblickhan.org" />
    <meta name="og:url" content="https://rwblickhan.org" />
    <title>rwblickhan.org</title>
    <meta name="og:title" content="rwblickhan.org" />
    <meta name="description" content="The personal site of R.W. Blickhan" />
    <meta name="og:description" content="The personal site of R.W. Blickhan" />
    <link rel="stylesheet" href="/tailwind_styles/global.css" type="text/css" />
    {% eleventyGoogleFonts "https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" %}

    <link
        rel="stylesheet"
        href="/styles/prism-okaidia.css"
        type="text/css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    <link
        rel="alternate"
        href="/feed.rss"
        type="application/rss+xml"
        title="Subscribe to rwblickhan.org"
    />
    <link rel="me" href="https://mastodon.social/@rwblickhan">Mastodon</a>
    <meta
        name="og:image"
        content="https://rwblickhan.org/images/coverimage.png"
    />
</head>
