<div class="pt-32 px-4 mb-8 md:max-w-5xl md:mx-auto prose dark:prose-invert dark:prose-headings:text-rwb-text-dark prose-a:text-rwb-link-light dark:prose-a:text-rwb-link-dark prose-a:no-underline hover:prose-a:underline">
    {% if title %} <h1>{{ title }}</h1> {% endif %}
    <div class="grid gap-4 grid-cols-2 place-items-stretch grid-rows-none prose-headings:text-rwb-link-light dark:prose-headings:text-rwb-link-dark">
    {% for tagged_item in collections[tag_type] reversed %}

    <a href="{{ tagged_item.url }}" class="border-2 rounded-lg border-rwb-link-light dark:border-rwb-link-dark">
        <div class="flex flex-col items-baseline justify-between p-4">
            <h2>{{ tagged_item.data.title }}</h2>
            <p>{{ tagged_item.data.snippet }}</p>
        </div>
    </a>

    {% endfor %}
    </div>
</div>